.justify-content-center{
    justify-content: center !important;
}

.d-flex{
    display: flex !important;
}

.logoSize{
    height: 50px !important;
    width: 50px !important;
    background-color: $hover-color;
    fill: $font-color-1;
}

.backGround{
    color: $font-color-1 !important;
    background-color: $background-color !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fontColor{
    color: $font-color-1;
}

.loginPage{
    height: 600px;
    align-items: center;
    color: #fff;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: 'Readex Pro', sans-serif;
    
    input{
        border-radius: 5px 5px;
        border: 0.1px solid #65739d;
    }
}

.loginFont{
    font-family: 'Mukta', sans-serif;;
}
.loginHeading{
    font-size: 4rem;
}

.card{
    height:400px;
    width:300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    color: $hover-color;
}

.btn-login{
    color: white;
    background-color: $hover-color;
}

.btn-login:hover{
    background-color: $background-color;
    color:white;
}