.justify-content-center{
    justify-content: center !important;
}

.d-flex{
    display: flex !important;
}

.logoSize{
    height: 50px !important;
}

.backGround{
    h2, h3{color: $font-color-1 !important;}
    background-color: $background-color !important;
}